h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}

body {
  background: white;
  color: #656e88;
}

.main-content {
  background: #d2d2d6;
  min-height: 100vh;
}

.nav-link {
  color: #000;
  opacity: 0.7;
  padding: 1em 0;
}

.nav-link:hover {
  opacity: 1;
  color: #000;
}

.nav-link.active {
  opacity: 1;
  color: #000;
  font-weight: bold;
}

.card-header h3 {
  font-size: 1em;
  letter-spacing: 1px;
}

table.table tr th {
  color: #737373;
}

table.table tr td {
  color: #737373;
  font-size: 0.9em;
  vertical-align: middle;
}

.pagination {
  justify-content: center;
  align-items: center;
}

.form-group label {
  margin-bottom: 0px;
  font-weight: bold;
}

.icon-menu {
  margin-right: 0.5em;
}

.col-thumbnail {
  max-width: 70px;
}

